// normalize
@use "normalize.scss";

@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: NotoSansJP, Poppins, "Zen Kaku Gothic New", system-ui, -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  line-height: 1.5;
  letter-spacing: .05em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0 0 8px;
}

ul,ol,dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

dl {
  >dd {
    margin-left: 0;
  }
}

.l_header {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  z-index: 100;
}

.l_header_logo {
  position: absolute;
  top: 0;
  left: 0;
  a {
    color: #000;
    text-decoration: none;
  }
}

.l_header_nav {
  position: absolute;
  top: 0;
  right: 0;
}

.l_header_navList {
  display: flex;
  flex-flow: column;
  gap: .4rem;
}

.l_header_nav_link {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
  background-color: #D8D7DB;
  border: .1rem solid #D8D7DB;
  padding: .2rem .5rem;
  line-height: 2rem;
  &.is_current {
    background-color: #000;
    color: #D8D7DB;
  }
}

.l_content {
  position: relative;
  &.is_window {
    height: calc( 100vh + 10rem );
    .m_sec--earth {
      padding: 0;
      height: 100vh;
      max-width: 1600px;
      margin: auto;
      display: block;
      padding: 0 100px;
    }
    .company {
      padding: 0;
      aspect-ratio: 16 / 9;
      width: 50rem;
      height: 281.25px;
      overflow: hidden;
    }
    .company_bg {

    }
  }
}

.company {
  padding: 10rem;
  background-color: #000;
  margin-left: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  transition: all .3s;
}

.company_bg {
  background-image: url(../img/bg_company_01.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  transition: all .3s;
}

.company_txt {
  color: #FFF;
  font-size: 2rem;
  text-shadow: 0 0 5px #8fc9ff;
  line-height: 5rem;
  margin-bottom: 5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.l_kv {
  // height: 100vh;
  padding: 14rem 10rem 10rem;
}

.l_kv_inner {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.l_kv_ttl {
  font-family: Inter;
  font-size: 7rem;
  font-weight: 700;
}

.l_kv_txt {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
  width: 500px;
}

.l_footer {
  background-color: #FFF;
  border-top: .1rem solid #D8D7DB;
}

.l_footer_row {
  display: flex;
  justify-content: space-between;
}

.l_footer_company {
  border-right: .1rem solid #D8D7DB;
  width: 50%;
  padding: 8rem 10rem;
}

.l_footer_company_name {
  margin-bottom: 6rem;
  font-size: 3.2rem;
}

.l_footer_company_address {
  color: #959595;
  font-size: 1.4rem;
}

.l_footer_nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 8rem 10rem;
}

.l_footer_navList {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.l_footer_navList_item {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
}

.l_footer_pageList {
  margin-top: 1.6rem;
  display: flex;
  flex-flow: column;
  gap: .8rem;
}

.l_footer_pageList_item {
  color: #959595;
  text-decoration: none;
  font-size: 1.2rem;
}

.m_group {
  background: linear-gradient(to bottom, #E0DFDD 0, #BCC2C9 30%, #AFB1BD 60%, #AAA7B2 100%);
  color: #FFF;
  .m_sec {
    & + .m_sec {
      .m_sec_inner {
        // padding-top: 0;
      }
    }
  }
  .m_sec_head {
    border-bottom: .1rem solid #FFF;
  }
}

.m_group2 {
  background: linear-gradient(to right, #E5E5E5 0, #D8D7DB 100%);
}

.m_sec {
  position: relative;
  z-index: 0;
  &.m_sec--earth {
    color: #FFF;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100%;
    transition: 
      width .3s,
      padding .3s;
    .m_sec_inner {
      height: 100%;
    }
  }
  &.m_sec--message {
    margin-top: -300px;
    padding: 300px 100px;
    .m_sec_inner {
      padding-top: 0;
    }
  }
  &.m_sec--service {
    .m_sec_inner {
      padding-bottom: 0;
    }
  }
  &.m_sec--cases {
    .m_sec_inner {
      padding-top: 10rem;
    }
    .m_sec_body {
      padding: 0 10rem;
    }
  }
  &.m_sec--news {
    .m_sec_inner {
      padding-bottom: 0;
    }
    .m_sec_body {
      display: flex;
      margin-top: 0;
      gap: 8rem;
    }
    .m_btnWrap {
      justify-content: flex-start;
      margin-top: 2.8rem;
    }
  }
  &.m_sec--recruit {
    .m_sec_inner {
    }
    .m_ttl {
      color: #FFF;
    }
    .m_btnWrap {
      justify-content: flex-start;
      margin-top: 3rem;
    }
  }
  &.m_sec--bg1 {
    background-color: #efefef;
  }
}

.m_sec_inner {
  margin: 0 auto;
  max-width: 140rem;
  padding: 10rem;
}

.m_sec_head {
  padding-bottom: 2.4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-end;
}

.m_sec_body {
  margin-top: 8rem;
}

.m_ttl {
  font-size: 9rem;
  line-height: 10rem;
  &.m_ttl--small {
    font-size: 7.6rem;
  }
}

.m_ttl_sub {
  width: 77.5rem;
  margin-left: auto;
  padding-left: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.m_lead {
  font-weight: 300;
  max-width: 77.5rem;
  margin-left: auto;
  font-size: 1.5rem;
  letter-spacing: .07em;
}

.m_btnWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
}

.m_btn {
  display: inline-block;
  text-align: center;
  padding: 1.6rem 6rem;
  min-width: 24rem;
  background-color: #FFF;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0;
  position: relative;
  &:hover .m_btn_icon::after {
      width: 100%;
      height: 100%;
  }
}

.m_btn_icon {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  right: 1.2rem;
  top: 0;
  bottom: 0;
  margin: auto;
  &::before,
  &::after {
    content: '';
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: .3rem;
    height: .3rem;
    box-sizing: border-box;
  }
  &::before {
    background-color: #000;
  }
  &::after {
    border: .1rem solid #000;
    transition: all .3s;
  }
}

.circles {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  > li {
    aspect-ratio: 1 / 1;
    width: calc((100% + 120px) / 4);
    border: .1rem solid #FFF;
    border-radius: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -20px;
    position: relative;
    &:not(:last-child)::after {
      content: '';
      display: block;
      width: 10rem;
      height: 1.3rem;
      background-image: url(../img/icon_arrow_right.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: -4rem;
      bottom: 9rem;
    }
    &:nth-child(1) {
      text-shadow: 0 0 6rem #AC45D6;
    }
    &:nth-child(2) {
      text-shadow: 0 0 6rem #4566D6;
    }
    &:nth-child(3) {
      text-shadow: 0 0 6rem #42FFC9;
    }
    &:nth-child(4) {
      text-shadow: 0 0 6rem #E18300;
    }
  }
}

.circles_item {
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 0;
}

.circles_item_name {
  font-size: 2rem;
  line-height: 3.2rem;
  height: 6rem;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
}

.circles_item_en {
  font-size: 1.2rem;
}

.casesList {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.casesList_item {
  background-color: #FFF;
  color: #000;
  display: flex;
  text-decoration: none;
  position: relative;
  &:hover {
    .casesList_item_thumbnail img {
      transform: scale(1.2);
    }
    .casesList_item_icon::before {
      width: 1.5   rem;
      height: 1.5   rem;
      background-color: #EDF0F9;
    }
    .casesList_item_icon::after {
      background-color: transparent;
    }
  }
}

.casesList_item_thumbnail {
  display: block;
  width: 260px;
  height: 210px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s;
  }
}

.casesList_item_detail {
  padding-left: 3rem;
  padding-right: 9rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
}

.casesList_item_ttl {
  font-size: 2rem;
}

.casesList_item_row {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.casesList_item_category {
  color: #8D95B5;
  padding: .4rem .8rem;
  font-size: 1.2rem;
  border: .1rem solid #8D95B5;
  font-weight: 300;
  line-height: 1.6rem;
}

.casesList_item_customer {
  font-size: 1.4rem;
  font-weight: bold;
  color: #8D95B5;
}

.casesList_item_txt {
  font-size: 1.5rem;
  letter-spacing: .092em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; //行数を指定
}

.casesList_item_icon {
  width: 4.3rem;
  height:4.3rem;
  position: absolute;
  top: 0;
  right: 2rem;
  bottom: 0;
  margin: auto;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    transition: all .3s;
  }
  &::before {
    width: .7rem;
    height: .7rem;
    background-color: #8D95B5;
    z-index: 1;
  }
  &::after {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #EDF0F9;
    border: .1rem solid #EDF0F9;
  }
}

.newsList {
  > li {
    padding: 3rem 2rem;
    border-bottom: .1rem solid #FFF;
  }
}

.newsList_item {
  display: flex;
  align-items: center;
  gap: 4rem;
  > dt {
    color: #959595;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  > dd {
    font-size: 1.5rem;
  }
}

.newsList_item_date {
  font-size: 1.4rem;
}

.newsList_item_category {
  font-size: 1.2rem;
  border: .1rem solid #959595;
  padding: .2rem .8rem;
  line-height: 1.4rem;
}

.recruit {
  padding: 10rem;
  margin: 0;
  height: 54rem;
  background-image: url(../img/bg_recruit_01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #FFF;
}

.recruit_head_sub {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  &::before {
    content: '';
    display: block;
    height: .1rem;
    width: 8rem;
    background-color: #FFF;
  }
}

.recruit_txt {
  font-size: 1.8rem;
}

.contact {
  background-color: #FFF;
  color: #000;
  text-decoration: none;
  display: block;
  padding: 8rem 10rem;
  position: relative;
  transition: all .3s;
  .m_ttl {
    transition: opacity .3s;
  }
  .contact_txt {
    transition: opacity .3s;
  }
  &:hover {
    .m_ttl {
      opacity: .7;
    }
    .contact_txt {
      opacity: .7;
    }
    .contact_icon::before {
      width: 4.6rem;
      height: 4.6rem;
      background-color: #EDF0F9;
    }
    .contact_icon::after {
      background-color: transparent;
    }
  }
}

.contact_txt {
  margin-top: 2rem;
  font-size: 2rem;
}

.contact_icon {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  right: 10rem;
  bottom: 0;
  margin: auto;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    transition: all .3s;
  }
  &::before {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #8D95B5;
    z-index: 1;
  }
  &::after {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #EDF0F9;
    border: .1rem solid #EDF0F9;
  }
}

@media (max-width: 1200px) {
  .l_kv {
    padding: 10rem 2rem 4rem;
    height: 60vh;
    display: flex;
    align-items: flex-end;
  }

  .l_kv_inner {
    width: 100%;
  }

  .l_kv_ttl {
    font-size: 5rem;
  }

  .l_kv_txt {
    width: 50%;
    font-size: 2rem;
  }

  .l_content {
    &.is_window {
      .m_sec--earth {
        padding: 0 2rem;
      }
      .company {
        width: 50%;
        height: auto;
      }
    }
  }

  .m_sec {
    &.m_sec--message {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &.m_sec--cases {
      .m_sec_body {
        padding: 0 2rem;
      }
    }
  }

  .m_sec_inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .recruit {
    padding: 4rem;
    width: auto;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact_icon {
    right: 2rem;
  }

  .l_footer_company {
    padding: 8rem 2rem;
  }

  .l_footer_nav {
    padding: 8rem 2rem;
  }
}

@media (max-width: 1000px) {
  .l_kv_ttl {
    font-size: 4rem;
  }

  .company_txt {
    font-size: 1.6rem;
    line-height: 4rem;
  }

  .m_sec {
    &.m_sec--news {
      .m_sec_body {
        flex-flow: column;
        gap: 4rem;
      }
      .m_ttl {
        order: 1;
      }
      .m_btnWrap {
        justify-content: flex-end;
        order: 3;
      }
      .newsList {
        order: 2;
      }
    }
  }

  .m_sec_head {
    padding-bottom: 2rem;
  }

  .m_ttl {
    font-size: 6rem;
    line-height: 8rem;
    &.m_ttl--small {
      font-size: 5.4rem;
    }
  }

  .m_ttl_sub {
    font-size: 2rem;
  }

  .circles_item_name {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }

  .circles_item_en {
    font-size: 1rem;
  }

  .casesList_item_thumbnail { 
    width: 200px;
    height: 160px;
  }

  .casesList_item_detail {
    gap: 1.6rem;
  }

  .casesList_item_ttl {
    font-size: 1.6rem;
  }

  .casesList_item_category {
    padding: .2rem .4rem;
  }

  .casesList_item_txt {
    font-size: 1.4rem;
  }

  .news_head {
    display: contents;
  }
}

@media (max-width: 767px) {
  .l_header_logo {
    font-size: 2rem;
  }

  .l_header_nav_link {
    font-size: 1.2rem;
  }

  .l_kv_ttl {
    font-size: 3.6rem;
  }

  .l_kv_inner {
    flex-flow: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .l_kv_txt {
    width: auto;
  }

  .l_content {
    &.is_window {
     .company {
        width: 100%;
      }
    }
  }
  .company {
    margin-left: 0;
    padding: 2rem;
  }

  .company_txt {
    line-height: 3.6rem;
  }

  .m_sec {
    &.m_sec--cases {
      .m_sec_body {
        padding: 0;
      }
    }
    &.m_sec--news {
      .m_sec_body {
        gap: 0;
      }
    }
    &.m_sec--recruit {
      .m_sec_inner {
        padding: 6rem 2rem;
      }
    }
  }

  .m_sec_inner {
    padding: 4rem 2rem;
  }

  .m_sec_head {
    flex-flow: column;
    align-items: flex-start;
    margin-bottom:2.4rem;
  }

  .m_sec_body {
    margin-top: 4rem;
    padding: 0;
  }

  .m_ttl {
    font-size: 4rem;
    line-height: 5rem;
    &.m_ttl--small {
      font-size: 3.8rem;
    }
  }

  .m_ttl_sub {
    font-size: 1.4rem;
    padding-left: 0;
    margin-bottom: 0;
  }

  .m_lead {
    font-size: 1.4rem;
  }

  .m_btnWrap {
    margin-top: 4rem;
  }

  .m_btn {
    min-width: auto;
    width: 100%;
  }

  .circles {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    > li {
      max-width: 260px;
      width: 100%;
      margin: -1rem 0;
      &:not(:last-child)::after {
        transform: rotate(90deg);
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .casesList_item {
    flex-flow: column;
  }

  .casesList_item_thumbnail {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }

  .casesList_item_detail {
    padding: 2rem;
  }

  .casesList_item_category {
    font-size: 1rem;
  }

  .casesList_item_customer {
    font-size: 1.2rem;
  }

  .casesList_item_icon {
    display: none;
  }

  .newsList > li {
    padding: 2rem 0;
  }

  .newsList_item {
    flex-flow: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .recruit {
    padding: 2rem;
    gap: 4rem;
  }

  .recruit_txt {
    font-size: 1.4rem;
  }

  .contact_txt {
    font-size: 1.6rem;
  }

  .contact_icon {
    display: none;
  }

  .l_footer_row {
    flex-flow: column;
  }

  .l_footer_company {
    padding: 2rem;
    width: auto;
    border-right: 0;
    border-bottom: .1rem solid #D8D7DB;
    // display: flex;
  }

  .l_footer_company_name {
    font-size: 2rem;
    margin-bottom: .8rem;
  }

  .l_footer_nav {
    padding: 2rem;
    width: auto;
    justify-content: flex-start;
  }

  .l_footer_navList {
    flex-flow: column;
    gap: .8rem;
  }

  .l_footer_pageList {
    padding-left: 1.6rem;
    margin-top: .8rem;
    gap: .4rem;
  }
}