// normalize
@use "normalize.scss";

@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

body {
  font-size: 1.6rem;
  font-family: NotoSansJP, Poppins, "Zen Kaku Gothic New", system-ui, -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  line-height: 1.5;
  letter-spacing: 3%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0 0 8px;
}

ul,ol,dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

dl {
  >dd {
    margin-left: 0;
  }
}
